.addproduct {
    display: flex;
    height: 100%;
    width: 100%;
}

.addproductWrapper {
    flex: 9;
    padding: 0px 0px 0px 70px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.addproductBody {
    margin-top: 3rem;
    width: 90%;
}
.addproductTitle {
    display: flex;
    width: 80%;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: lightcoral;
}

.addproductForm {
    display: flex;
    flex-direction: column;

    
}
.addproductDesc {
    margin-top: 1rem;
}

.css-1f1s0qz-MuiFormControl-root-MuiTextField-root {
    margin-top: 32px !important;
    padding: 0 !important;
}

.addproductBtn {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}


.addproductBtn Button {
    background-color: #29A89F;
    font-size: 16px;
    padding: 1rem;
    border-radius: 20px;
}


.addProductImg {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(49, 49, 49);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    cursor: pointer;
}

.productImg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.productImg img {
    width: 80%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

input, select {
    margin: .5rem;
    padding: .5rem;
    font-size: 14px;
}

@media only screen and (max-width: 480px) {
    .addproduct {
        display: flex;
        flex-direction: column;
        height: 90vh;

    }

    .addproductWrapper {
        padding: 0;
    }
    .addproductBody {
        margin-top: 1rem;
    }

    .input_width {
        width: 100%!important;
    }



}