.qr {
    display: flex;
    height: 100%;
}

.genQr {
    flex:10;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ebebeb;
}

.genQr h1 {
    font-size: 52px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 10px;
    padding: 6px;
}
.hide-picbg img{
    position:absolute;
    opacity:0;
}
#paddingSlider{
    direction: rtl;
    color: transparent;
    background: transparent;
}

.colorInput input{
    padding: 0 0 0 0;
}

.colorInput{
    width: 23px;
    margin: 0%;

}
.myQr {
    border-top: 0.5rem solid #666;
    border-right: 0.5rem solid #666;
    border-bottom: 1rem solid #666;
    border-radius: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: 0.5rem solid #666;
}


.Qr {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
  }
  
  button {
    border: 0;
    padding: 1rem;
    color: #ffffff;
    font-size: 1rem;
    background: #ffde59;
    border-radius: 20px;
    margin-top: 14px;
  }
  
  input {
    width: 40%;
    padding: 1rem 0.8rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    outline: 0;
    transition: all 0.36s ease-in-out;
  }
  
  .genQr {
    flex: 9 1;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ebebeb;
}
.qrcode-content {
    flex: 6;
    padding: 50px;
    flex-direction: column;
    display: flex;
    border:none;
}
.qrcode-icon {
    flex: 6;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
div#print {
    margin: 0 auto;
}
.qrcode-content-inner {
    flex-direction: column;
    display: flex;
    border: none;
    padding: 50px;
}
.genQr h1 {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 1rem;
}
.qrcode-content-inner label {
    font-size: 20px;
    display: inline-block;
}
.form-group label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    padding-top: 1rem;
}
.form-group input {
    margin: 0;
    width: 90%;
}
.form-group input#mui-3 + fieldset {
    width: 100%;
    border: none;
     border-bottom: 1px solid #363636; 
    border-radius: 0;
}
.form-group div {
    width: 100%;
    border: none !important;
    outline: none;
    box-shadow: none;
}
input#mui-2,input#mui-1 {
    width: 51px;
    height: 51px;
    padding: 0;
}

span.colorcode {
    position: absolute;
    right: -99px;
    top: 4px;
    border: 1px solid rgb(119 119 119);
    height: 41px;
    width: 100px;
    line-height: 41px;
    text-align: center;
}
.form-group.bg-color-element{
    position: relative;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border:none;
}
.form-group div fieldset {
    border: none;
}
.form-group.bg-color-element label {
    display: inline-block;
    width: auto;
}
.form-group.bg-color-element div {
    display: inline-block;
    width: auto;
    text-align: right;
    float: right;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group.bg-color-element {
    width: 80%;
    margin-top: 25px;
}

input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0; 
    width: 500px;
    padding: 0px;
    height: 10px;
    
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread 
 *    of the width of the input.
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #363636;
    box-shadow: -500px 0 0 500px #ffde59; 
    border: 0px solid #999;
    border-radius: 20px;
}

::-moz-range-track {
    height:10px;
    width: 10px;
    background: #ddd;
    border-radius: 100px;
}

::-moz-range-thumb {
    background: #363636;
    height: 10px;
    width: 10px;
    border: 0px solid #999;
    border-radius: 0 !important;
    box-shadow: -500px 0 0 500px #ffde59;
    box-sizing: border-box;
    border-radius: 100px;
}

::-ms-fill-lower { 
    background: #ffde59;
}

::-ms-thumb { 
    background: #fff;
    border: 0px solid #999;
    height: 10px;
    width: 10px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 10px;
    border: none;
    border-radius: 100px;
}

::-ms-tooltip { 
    display: none;
}
.download-btn button {
    background-color: #29A89F;
    padding: 15px 30px;
    border-radius: 30px;
    color: #363636;
    font-weight: 600;
}
.download-btn {
    margin-top: 5rem;
}

  @media only screen and (max-width: 480px)  {
      .qr {
          flex-direction: column;
      }

      .genQr h1 {
          font-size: 24px;
      }
          input {
              width: 70%
          }
  }


  @media only screen and (max-width: 786px)  {
  

    .genQr h1 {
        font-size: 25px;
    }
    .qrcode-content-inner label {
        display: inline-block;
        font-size: 16px;
    }
    .qrcode-content-inner{
        padding:0;
    }
    .form-group.bg-color-element {
        margin-top: 5px;
        width: 72%;
    }
}
@media only screen and (max-width: 767px)  {
    .genQr {
        display:block;
    }
    .qrcode-content {
        padding: 15px;
    }    
    .genQr h1 {
        font-size: 25px;
    }
    .qrcode-content-inner label {
        display: inline-block;
        font-size: 16px;
    }
    .qrcode-content-inner{
        padding:0;
    }
    .form-group.bg-color-element {
        margin-top: 5px;
        width: 72%;
    }
}
