.about {
  display: flex;
  flex-direction: column;
  position: relative;
}

.aboutService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.aboutService h1 {
  font-family: "Prompt", sans-serif;
  font-size: 64px;
  font-weight: 300;
  text-align: center;
}

.aboutService h3 {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.aboutCards {
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #666666;
  gap: 3rem;
}

.aboutCard {
  width: 100%;
  height: 550px;
  text-align: left;
  padding: 1rem;
  margin-top: 2rem;
}

.aboutCard p {
  font-size: 12px;
  font-family: "Prompt", sans-serif;
  padding: 10px;
  text-align: left !important;
}

.aboutCard h4 {
  font-size: 18px;
  font-family: "Prompt", sans-serif;
  padding: 10px;
  text-align: left !important;
}
.aboutCard img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px;
}

.aboutCards button {
  display: flex;
}

.aboutBody {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.aboutTitle {
  display: flex;
  width: 50%;
  height: 500px;
  flex-direction: column;
  text-align: left;
}

.aboutTitle h1 {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 42px;
  padding: 20px;
  color: #666666;
}

.aboutTitle p {
  font-family: "Prompt", sans-serif;
  padding: 2rem;
  font-size: 20px;
  font-weight: 400;
  color: black;
}


.aboutBtn {
  text-align: center;
}

.titleBtnLeft {
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin: 1rem;
  padding: 12px 50px;
  border-radius: 20px;
  background-color: teal;
  color: white;

}




.titleBtnRight {
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin: 1rem;
  padding: 12px 50px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid teal;
  color: teal;
}

.aboutImg {
  width: 50%;
  height: 500px;
}

.aboutImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}



.registerMe {
  height: 100vh;
  margin-top: 1rem;
}

.imgTop {
  width: 100%;
  height: 100%;
  padding: 20px 0px;
}

video {
  object-fit: cover;
  width: 100%;
  height: 65%;
  border-radius: 20px;
}

.registerContent {
  font-family: "Prompt", sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
}

.contentTitle {
  padding: 2rem;
}

.contentTitle h1 {
  font-size: 28px;
  font-weight: 400;
}

.contentDesc p {
  text-align: left;
  padding: 2rem;
  font-weight: 400;
  font-size: 24px;
}

.registerMeBtn {
  color: #666666;
  padding: 2rem;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  text-align: right;
}

.aboutContact {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
  }

  .aboutContactText {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;
    padding: 1rem;
    text-align: right;
    margin-bottom: 1rem;
  }
  
  .aboutContactText h1 {
    width: 100%;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-size: 42px;
    padding: 20px;
  }
  
  .aboutContactText p {
    font-family: "Prompt", sans-serif;
    padding: 1rem;
    text-align: right;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
  }

  .aboutContactText p:hover {
    color: #000000;
  }

.contactUs {
  width: 100%;
  height: 70vh;
}

.contactContainer {
  background-color: white;
  display: flex !important;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.contactLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.contactLeft img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px;
}

.contactLeftText {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-size: 16px;
  color: #666666;
}

.contactLeftText:hover {
  color: black;
}

.contactLeftText h5 {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  margin: 0px 10px;
}

.contactRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.contactRight h1 {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  margin: 0px 10px;
  font-size: 42px;
  color: #666666;
}

.contactRightIcons {
  padding: 2rem;
  cursor: pointer;
}

.contactRightIcon {
  color: #666666;
  font-size: 52px;
  padding: 1rem;
}

@media only screen and (max-width: 480px) {
  .about {
    margin-top: 8rem;
  }
  .aboutBody {
    flex-direction: column-reverse;
    margin-top: 1rem;
  }

  .aboutImg {
    width: 100%;
    height: 50%;
  }

  .aboutTitle {
    padding: 0;
    width: 100%;
  }

  .aboutTitle h1 {
    font-size: 22px;
    padding: 20px 10px;
  }

  .aboutTitle p {
    font-size: 16px;
    padding: 10px;
  }

  .aboutBtn {
    padding: 20px 10px;
  }

  .titleBtnLeft {
    font-size: 14px;
    margin: 1rem;
    padding: 10px 30px;
  }

  .titleBtnRight {
    font-size: 14px;
    margin: 1rem;
    padding: 10px 30px;
  }


  .registerMe {
    height: 80vh;
  }

  .registerContent {
    flex-direction: column;
  }

  .contentTitle {
    text-align: left;
    padding: 1rem;
  }

  .contentDesc p {
    padding: 1rem;
    font-size: 16px;
  }

  .registerMeBtn {
      padding: 1rem;
  }

  .aboutService {
    height: auto;
  }

  .aboutService h1 {
    font-size: 44px;
    margin-top: 1rem;
    padding: 1rem;
  }

  .aboutCards {
    flex-direction: column;
    gap: 0;
  }
  .aboutCard {
    margin-top: 1rem;
    height: 450px;
  }

  .aboutContact {
      margin-top: 1rem;
  }


  .aboutContactText {
      width: 80%;
  }

  .aboutContactText h1 {
    font-size: 22px;
}

  .contactUs {
    height: 100%;
  }
  .contactContainer {
    flex-direction: column;
  }

  .contactRight {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
  }

  .contactRight h1 {
    font-size: 22px;
  }

  .contactRightIcon {
    font-size: 32px;
  }

  .fa-facebook-f:hover {
    color: #3b5998 !important;
  }

  .fa-line:hover {
    color: #00b900 !important;
  }

  .contactLeft {
    height: 100%;
    width: 100%;
    padding: 3rem 0;
  }
  .contactLeft img {
    width: 100%;
    height: 300px;
  }
}
