.shopinfo {
    display: flex;
    height: 92vh;
    width: 100%;

}

.shopwrapper {
    flex: 9;
    padding: 0px 0px 0px 70px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.shopBody {
    width: 90%;
    margin-top: 3rem;
}

.shopHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shopUpdateTitle {
    display: flex;
    width: 80%;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: lightcoral;
}


.shopForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.shopPp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.shopPp > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.shopPp .fa-circle-user {
    font-size: 120px;
    color: #666666;
}

.shopPp .shopPpIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(49, 49, 49);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    cursor: pointer;
}

.accountCircleIcon {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.shopFormBody {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.shopSubmit {
    width: 150px;
    align-self: flex-start;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: #29A89F;
    cursor: pointer;
}

.checkRmb {
    display: flex;
    padding: 10px 0;
    width: 50%;
  }
  
  .checkRmb p {
    margin-left: 3px;
    margin-top: 7px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
  }

  .catCheckbox {
    width: 10px;
  }

.checkcategory{
  display: inline-flex;
  flex-wrap: wrap;
}

.catlabel {
    margin:3px;
    margin-top: 7px;
    font-weight: 300;
    font-size: 18px;
    /* flex-wrap: wrap; */

}


.catlabel label {
    margin-left: 3px;
    margin-top: 7px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.css-1nylpq2 {
    margin-bottom: 1.2rem;
}
.shopFormBody{
    padding-top: 3rem;
}
.shopinfo {
    height: auto;
    width: 100%;
}
.shopwrapper {
    height: 100%;
    padding-bottom: 2rem;
}
.shopwrapper::after {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background-color: #ebebeb;
}
.shopwrapper {
    position: relative;
}
.shopPp > img {
    border: 1px solid rgb(0 0 0 / 10%);
}
.catCheckbox {
    width: 18px;
}
.shopSubmit {
    width: auto;
    align-self: flex-start;
    border: none;
    border-radius: 30px;
    padding: 18px 35px;
    margin-top: 10px;
    color: white;
    background-color: #29A89F;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
}
.googleMaps
{
    
}

.googleMaps {
    height:300px;
}
.googleMaps div {
    width: 100%;
    height: 100%;
}
input.location-search-input {
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 480px) {
    .shopinfo {
        display: flex;
        flex-direction: column;
        height: 90vh;
    }

    .shopwrapper {
        padding: 0;
        position: relative;
    }

    .shopBody {
        margin: 1rem;
    }

    .shopFormBody {
        width: 100%;
    }

    .shopPp > img {
        height: 200px;
    }
    
    .css-jwk6l7-MuiFormControl-root-MuiTextField-root {
        width: 80% !important;
    }

}
@media only screen and (max-width: 767px) {

.shopwrapper:after {
    height: 100%;
} 
.shopForm, .shopPp {
    display: block;
    width: 100%;
}
.shopwrapper:after {
    height: auto;
}
.shopinfo {
    height: auto;
}
.sideprofile {
    height: auto;
    position: fixed;
    top: inherit;
    width: 100%;
    bottom: 0;
    background: #fff;
    z-index: 5;
}
.shopinfo, .shopwrapper:after {
    height: 100%;
}
form.shopForm {
    padding-bottom: 70px;
}



}

.autocomplete-dropdown-container{
    width: 45% !important; 
    position: relative; 
    z-index: 1;
}