.header {
    display: flex;
    position: relative;
    max-width: 100%;
    height: 100%;
}


.headerTitles {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
    border: 2px solid rgb(94, 94, 94);
    border-radius: 10px;
    padding: 20px;
    background: rgba(160, 160, 160, 0.74);
}

.headerTitlesSm {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.headerTitlesLg {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 60px; 
    margin-bottom: 15px;

}

.headerBtn {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    color: black;
    margin-bottom: 30px;

}

.headerImg {
    width: 100%;
    height: 550px;
    object-fit: cover;
    opacity: 0.8;

}

@media only screen and (max-width: 480px) {
    .headerTitles {
        width: 80%;
        height: 300px;
    }

    .headerTitlesSm {
        font-size: 14px;
    }
}